@using Microsoft.AspNetCore.Identity;
@using Business;




<table class="table table-hover table-striped table-responsive-sm ">
    <thead>
        <tr>
            <th>Nombre de Usuario</th>
            <th>Correo</th>
            <th>Acciones</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityUser item in Users)
        {
            var id = item.Id;
            <tr>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td><a class="btn btn-primary"  href="manage/ViewUser/@item.Id" >Ver</a></td>
            <td><a class="btn btn-secondary" href="manage/EditUser/@item.Id">Editar</a></td>            
            <td><a class="btn btn-warning" href="Identity/Admin/ChangePassByAdmin/@item.Id">Cambiar Contraseña </a></td>
            <td><a class="btn btn-danger" href="manage/DeleteUser/@item.Id">Eliminar </a></td>                       
        </tr>
        }
    </tbody>
</table>




@code{
    List<IdentityRole> Roles = new List<IdentityRole>();
    List<IdentityUser> Users = new List<IdentityUser>();
    string message = "";
    string statusUser = "";
    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        Users = B_Manage.ListOfUsers();
        Roles = B_Manage.GetListOfRoles();
        var x = Users;
    }
    private void ChargeList()
    {
        Users = B_Manage.ListOfUsers().OrderBy(D=>D.UserName).ToList();
    }


    private void ChangeStatus(string id)
    {
     //   var GetListOfFiles = B_Manage.ChangeUserStatus(id);
        ChargeList();
    }
}