@using Microsoft.AspNetCore.Identity;
@using Business;



<table class="table table-hover table-responsive-sm ">
    <thead>
        <tr>
            <th class="text-sm-center" >Id</th>
            <th class="text-sm-center">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Roles)
        {
            <tr>
                <td class="text-sm-center" >@item.Id</td>
                <td class="text-sm-center" >@item.Name</td>
            </tr>
        }
    </tbody>
</table>


@code{
    List<IdentityRole> Roles = new List<IdentityRole>();
    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        Roles = B_Manage.GetListOfRoles();
    }
}