@using Microsoft.AspNetCore.Identity;
@using Business;




<table class="table table-hover table-striped table-responsive-sm ">
    <thead>
        <tr>
            <th>Nombre de Usuario</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Users)
        {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td><a href="manage/ViewUser/@item.Id" >Ver</a></td>
            <td><a href="/">Editar</a></td>
            <td><a href="/" class="text-danger">Eliminar</a></td>
            <td><a href="Identity/Admin/ChangePassByAdmin">prueba </a></td>
        </tr>
        }
    </tbody>
</table>



adrianmesen.n.r.k@gmail.com

@code{ 
    List<IdentityRole> Roles = new List<IdentityRole>();
    List<IdentityUser> Users = new List<IdentityUser>();
    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        Users = B_Manage.ListOfUsers();
        Roles = B_Manage.GetListOfRoles();
        var x = Users;
    }
}