@using Entities;
@using Business;



<div>
    <div>
        <label>Serie</label>
        <input type="text" />
    </div>
    <input type="button" value="Buscar" class="btn btn-outline-dark" />
    <input type="button" value="Limpiar" class="btn btn-outline-dark" />
</div>

<table class="table table-hover table-striped table-responsive-sm ">
    <thead>
        <tr>
            <th>Id de Referencia</th>
            <th>Numero de serie reemplazado</th>
            <th>Numero de serie nuevo</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Replacements)
        {
            <tr>
                <td>@obj.ReplacementDeviceId</td>
                <td>@obj.DeviceId</td>
                <td>@obj.NewSerieDevice</td>
                <td><a href="/replacement/view/@obj.ReplacementDeviceId.ToString()">Ver</a></td>
                <td><a href="">Editar</a></td>
                <td><a style="color:Red" href="">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>

@code{
    List<ReplacementDeviceEntity> Replacements = new List<ReplacementDeviceEntity>();


}

