@using Entities;
@using Business;


<EditForm Model="oReplacement">
    <div class="form-group">
        <label>Numero de serie del nuevo dispositivo</label>
        <select class="form-control">
            <option value="">Seleccione un equipo...</option>
        </select>
    </div>
    <div class="form-group">
        <label>Numero de serie del dispositivo a reeplazar</label>
        <select class="form-control">
            <option value="">Seleccione un equipo...</option>
        </select>
    </div>
    <div>
        <label>Notas</label>
        <InputTextArea class="form-control" @bind-Value="oReplacement.Notes"></InputTextArea>
    </div>
</EditForm>
<div class="align-content-center">
    <input  type="button" value="Guardar reemplazo" class="btn-info" @onclick="SaveReplacement"/>
</div>

@code {
    ReplacementDeviceEntity oReplacement = new ReplacementDeviceEntity();

    protected void SaveReplacement()
    {

    }

}
