@page "/client/update/{ClientId}"

<div>
    <h2 class="text-center">Actualizar Cliente</h2>
    <hr />
    <div class="d-flex justify-content-between">
        <p>
            Modifique la información correspondiente en el dispositivo.
        </p> 
        <a href="client/list" class="btn btn-sm btn-info"> Lista de Clientes</a>
    </div>

    <hr />
    <UpdateClientComponent id="@ClientId.ToString()"/>
</div>



@code{
    [Parameter]
    public string ClientId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        ClientId = ClientId;
    }
}