@page "/client/list"


<div class="text-center">
    <h2>Lista de Clientes</h2>
    <a href="client/Create"> Agregar nuevo Cliente</a>
    <hr />
    <ClientListComponent></ClientListComponent>

</div>
