@page "/client/delete/{ClientId}"




<AuthorizeView Roles="Administrador">
    <Authorized>
        <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
            <div>
                <h2 class="text-center">Eliminar Cliente</h2>
                <hr />
                <DeleteClientComponent id="@ClientId.ToString()" />
            </div>

        </Animate>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent></NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>




@code {
    [Parameter]
    public string ClientId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        ClientId = ClientId;
    }
}