@page "/client/list"



<AuthorizeView Roles="Administrador,Lector">
    <Authorized>
        <div class="text-center">
            <h2>Lista de Clientes</h2>
            <a href="client/Create"> Agregar nuevo Cliente</a>
            <p>Información referente a los clientes registrados, poseedores de dispositivos RAYOS-NO</p>
            <hr />
            <ClientSearchComponent />
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent />
    </NotAuthorized>
</AuthorizeView>


