@page "/client/list"





<AuthorizeView Roles="Administrador,Lector">
    <Authorized>    <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">


        <div class="text-center">
            <h2>Lista de Clientes</h2>
            <div class="flex-column">

                <p>Información referente a los clientes registrados, poseedores de dispositivos RAYOS-NO</p>
                    <a href="client/Create" class="btn btn-sm btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Permite ingresar un nuevo cliente"> Agregar nuevo Cliente</a>
                    <a href="client/categories" class="btn btn-sm btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver diferentes Categorias existentes"> Ver Por Categorias</a>
            </div>
            
            <hr />
            <ClientSearchComponent />
        </div>
    </Animate>
</Authorized>
    <NotAuthorized>
        <NotAvariableComponent />
    </NotAuthorized>
</AuthorizeView>


