@page "/client/update/{ClientId}"

<div>
    <h2 class="text-center">Actualizar Cliente</h2>
    <hr />
    <a href="client/list"> Regresar a la lista de Clientes</a>
    <hr />
    <UpdateClientComponent id="@ClientId.ToString()"/>
</div>



@code{
    [Parameter]
    public string ClientId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        ClientId = ClientId;
    }
}