@page "/client/Create"


<div>
    <h2 class=" text-center"> Registro de Clientes</h2>
    <hr />
    <div class="d-flex flex-row justify-content-between">
        <p>
            Agregue la información correspondiente.
        </p>
        <a href="client/list" class="btn btn-sm btn-info"> Regresar a la Lista de Clientes</a>

    </div>
    
    <hr />
    <CreateClientComponent></CreateClientComponent>
</div> 