@page "/warranty/create/{DeviceId?}"




<AuthorizeView Roles="Administrador,Editor">
    <Authorized>    <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div class="text-center">
            <h2> Creación de nuevo registro</h2>
            <div class="d-flex justify-content-between flex-row">
                <p>
                    Agregue la información correspondiente del equipo.
                </p>
                 <a href="warranty/list" class="btn btn-sm btn-info">Lista de Garantias</a>
            </div>
            <hr />
                @if (string.IsNullOrEmpty(DeviceId))
                {
                    <WarrantyCreateComponent />
                }
                else
                {
                    <WarrantyCreateComponent DeviceID="@DeviceId" />
                }
        </div>
    </Animate></Authorized>
    <NotAuthorized>
        <NotAvariableComponent />
    </NotAuthorized>
</AuthorizeView>



@code {
    [Parameter]
    public string DeviceId { get; set; }
    protected override async Task OnInitializedAsync()
    {       
        await base.OnInitializedAsync();
    }
}


