@page "/warranty/view/{WarrantyId}"




<AuthorizeView Roles="Administrador,Lector,Editor">
    <Authorized>

        <div class="text-center">
            <h2> Información de la Garantia</h2>
            <hr />
            <div class="d-flex justify-content-between flex-row">
            <p>
                A continuación se muestra la información realizada a la emisión del la garantia.
            </p>
                <a href="warranty/list" class="btn btn-sm btn-info">Lista de Garantias</a>
            </div>
            
            
            <WarrantyViewComponent WarrantyId="@WarrantyId.ToString()" />
            <hr />
            <h2>
                Archivos Anexos
            </h2>
            <GetFilesList id="@WarrantyId.ToString()" action="Warranty" />
        </div>

    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent />
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter]
    public string WarrantyId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        WarrantyId = WarrantyId;
    }
} 