@page "/warranty/list"








<AuthorizeView Roles="Administrador,Lector,Editor">
    <Authorized>    <Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div class="text-center">
            <h2>
                Lista de Garantias emitidas por dispositivo
            </h2>
            <div class="d-flex flex-row justify-content-center">
            <a href="warranty/create" class="btn btn-sm btn-outline-success">Crear nuevo registro</a>
            </div>
            <hr />

            <WarrantySearchComponent />
        </div>
    </Animate></Authorized>
    <NotAuthorized>
        <h1 class="text-danger h1">
            Contenido no disponible
        </h1>
        <p>
            No posee las credenciales necesarias o no ha iniciado sesión. Por favor compruebe que haya iniciado sesión.
        </p>
        <p><a href="Identity/Account/Login">Inicie sesión para validar su información</a></p>
        <p>
            Si el problema persiste contacte al encargado.
        </p>
    </NotAuthorized>
</AuthorizeView>

