@page "/warranty/create"




<AuthorizeView Roles="Administrador,Editor">
    <Authorized>
        <div class="text-center">
            <h2> Creación de nuevo registro</h2>
            <div class="d-flex justify-content-between flex-row">
                <p>
                    Agregue la información correspondiente del equipo.
                </p>
                 <a href="warranty/list" class="btn btn-sm btn-info">Lista de Garantias</a>
            </div>
            <hr />

            <WarrantyCreateComponent></WarrantyCreateComponent>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent />
    </NotAuthorized>
</AuthorizeView>

