@page "/warranty/list" 






<div class="text-center">
    <h2>
        Lista de Garantias emitidas por dispositivo
    </h2>
    <hr />
    <a href="warranty/create">Crear nuevo registro</a>
    <WarrantyListComponent></WarrantyListComponent>
</div>