@page "/warranty/create"




<AuthorizeView Roles="Administrador,Editor">
    <Authorized>
        <div class="text-center">
            <h2> Creación de nuevo registro</h2>
            <hr />
            <a href="warranty/list">Regresar a la lista de Garantias</a>
            <WarrantyCreateComponent></WarrantyCreateComponent>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent />
    </NotAuthorized>
</AuthorizeView>

