@page "/warranty/list"








<AuthorizeView Roles="Administrador,Lector,Editor">
    <Authorized>    <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div class="text-center">
            <h2>
                Lista de Garantias emitidas por dispositivo
            </h2>
            <div class="d-flex flex-row justify-content-center">
            <a href="warranty/create" class="btn btn-sm btn-outline-success">Crear nuevo registro</a>
            </div>
            <hr />

            <WarrantySearchComponent />
        </div>
    </Animate></Authorized>
    <NotAuthorized>
               <NotAvariableComponent></NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>

