@using Entities;
@using Business;
@using System.Linq;



<table class="table table-sm table-light table-hover">
    <thead>
        <tr>
            <th>
                    Nombre
            </th>
            <th>
                    Tipo
            </th>
            <th>
                    Ubicación
            </th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in itemList)
     {
         <tr>
             @foreach( var data in item)
            {
                <td>
                    @data
                </td>
            }
        </tr>
     }

    </tbody>
</table>


@code
{
    [Parameter]
    public string id { get; set; }

    [Parameter]
    public string action { get; set; }

    List<Array> itemList = new List<Array>();

    protected override async Task OnInitializedAsync()
    {
        if (action != null)
        {
            switch (action) 
            {
            case "Warranty":
                var Object = B_Warranty.WarrantyById(id);
                var path = $"{Object.DeviceId}/{Object.DateSend.Year.ToString()}-Warranty/{Object.Id}";
                itemList =await B_StorageManage.GetListOfFiles(path);
                break;                        
            default:
                // code block
                break;
            }                  
                        
        }
       await base.OnInitializedAsync();
    }


        
 }

