@page "/manage/AddRoles"

<h3>AddUserRol</h3>



<AuthorizeView Roles="Administrador">
    <Authorized>    <Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <AddRolesComponent></AddRolesComponent>
    </Animate></Authorized>
    <NotAuthorized>
        <h2 class="text-danger">No hay autorización para ver esta información</h2>
    </NotAuthorized>
</AuthorizeView>


@code {

}
