 @page "/manage/ViewUser/{UserId}"


<AuthorizeView Roles="Administrador">
    <Authorized>    <Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <h1>Información del Usuario</h1>
        <ViewUserComponent UserId="@UserId.ToString()"></ViewUserComponent>
        <hr />        
        <ManageRolesByIdComponent UserId="@UserId.ToString()"/>
    </Animate></Authorized>
    <NotAuthorized>
        <h2 class="text-danger">No posee autorización para ver esta pagina</h2>
    </NotAuthorized>
</AuthorizeView>



@code{
    [Parameter]
    public string UserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
    UserId = UserId;
    } 
}

    