@page "/manage/Index"



<style>
    #container {        
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-content: center;
        gap: 10px;
        
        grid-template-columns: repeat(auto-fill,300px,240px);
    }
    #card-right div h3 {
        font-size: 16px;
        align-content:end;
    }
    #card-right div p {
        font-size: 12px;
        align-content: end;
    }
</style>


<AuthorizeView Roles="Administrador">
    <Authorized>
        <h2>Administración</h2>
        <hr />
        <div id="container">
            <div id="card-left">
                <h3>Lista de Usuarios</h3>
                <p>Lista de Usuarios registrados en el sistema.</p>
                <ListUsersComponent></ListUsersComponent>
            </div>
            <div id="card-right">
                <h5 class="h5 text-md-right" >Lista de Roles </h5>
                <p  class="text-sm-right">Lista de roles predeterminados en el sistema</p>
                <ListOfRolesComponent></ListOfRolesComponent>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent></NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>



@code {

}
