 @page "/manage/DeleteUser/{UserId}"


<AuthorizeView Roles="Administrador">
    <Authorized>    <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <h1>Eliminación de Usuario</h1>
       <DeleteUserComponent UserId="@UserId.ToString()"/>

    </Animate></Authorized>
    <NotAuthorized>
        <h2 class="text-danger">No posee autorización para ver esta pagina</h2>
    </NotAuthorized>
</AuthorizeView>



@code{
    [Parameter]
    public string UserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
    UserId = UserId;
    } 
}

    