@page "/installer/create"



<AuthorizeView Roles="Administrador,Editor">
    <Authorized>    <Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div>
            <h2>
                Creación de Instalador
            </h2>
            <hr />
            <div class="d-flex flex-row justify-content-between">
                <p>
                    Inserte la información necesaria para la validación
                </p>
                <a href="installer/list" class="btn btn-info"> Regresar a la vista de dispositivos</a>
            </div>
            <AddInstallerComponent />
        </div>
    </Animate></Authorized>
    <NotAuthorized>
        <NotAvariableComponent/>
    </NotAuthorized>
</AuthorizeView>

