@page "/installer/list"

<h3>
    Lista de Instaladores 
</h3>
<hr/>
<p>
    Lista de instaladores registrados en la base de datos. Estos instaladores corresponden a los instaladores autorizados por .______ para realizar la instalación de equipos RAYOS-NO.
</p>
<div class="d-flex flex-row">
    <div class="p-2">
        <ListOfInstallersComponent/>
    </div>    
</div>







