@page "/installer/list"

<h3>
    Lista de Instaladores 
</h3>
<hr/>
<p>
    Lista de instaladores registrados en la base de datos. Estos instaladores corresponden a los instaladores autorizados para realizar la instalación de equipos.
</p>

<div class="justify-content-center align-content-center">
    <SearchInstallerComponent/>
</div>    



