@page  "/installer/update/{installerId}"




<AuthorizeView Roles="Administrador,Editor">
    <Authorized>
        <div>
            <h2 class="text-center">
                Actualizar información de instalador
            </h2>
            <hr />
            <a href="installer/list"> 
                Regresar a la lista de instaladores 
            </a>
            <hr />
            <UpdateInstallerComponent idInstaller="@installerId"/>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent />
    </NotAuthorized>
</AuthorizeView>





@code{
    [Parameter]
    public string installerId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        installerId = installerId;
    }
}