@using Entities;
@using Business;


<table class="table table-bordered table-hover table-light">
    <thead>
        <tr>
            <td> Numero Serie</td>
            <td> Fecha de Mantenimiento </td>
            <td> Técnico</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Maintenances)
        {
            <tr>
                <td> @obj.DeviceId </td>
                <td> @obj.MaintenanceDate</td>
                <td> @obj.TechnicianName</td>
                <td> <a href="maintenance/view/@obj.MaintenanceId"> Ver Información</a></td>
                <td> <a href="maintenance/update/@obj.MaintenanceId"> Modificar</a></td>
                <td> <a href="maintenance/delete/@obj.MaintenanceId"> Eliminar</a></td>
            </tr>            
        }
    </tbody>
</table>


@code {
    List<MaintenanceEntity> Maintenances = new List<MaintenanceEntity>();


    protected override async Task OnInitializedAsync()
    {
        Maintenances = B_Maintenance.ListOfMaintenance();
    }
}
