@using Entities;
@using Business;



@inject NavigationManager Nav;

<EditForm Model="oSaleMan">
    <table class="table">
        <tbody>
            <tr>
                <td>Id de referencia: </td> <td>@oSaleMan.SaleManId</td>
            </tr>
            <tr>
                <td>Nombre del vendedor:</td> <td>@oSaleMan.Name</td>
            </tr>
        </tbody>
    </table>
</EditForm>



@code{
    [Parameter]
    public string id { get; set; }

    string message;
    SaleManEntity oSaleMan = new SaleManEntity();

    protected override async Task OnInitializedAsync()
    {
        oSaleMan = B_SaleMan.SaleManById(id);
    }
}