@page "/Identity/Admin/ChangePassByAdmin/{id}"
@using Microsoft.AspNetCore.Identity;
@model Control.Areas.Identity.Pages.Admin.ChangePassByAdminModel

@{
    IdentityUser user = (IdentityUser)ViewData["User"];
}


<form method="post" class="justify-content-center">
    <div class="form-group">
        <h2>Nueva contraseña para usuario</h2> <label  >@user.Email</label>
        <input name="id" type="text" class="form-control" value="@user.Id"  readonly/>
    </div>
    <div class="form-group">
        <label>Nueva Contraseña</label>
        <input name="password" class="form-control" type="password" placeholder="**********"  />
    </div>
    <div class="form-group">
        <label>Confirmar Contraseña</label>
        <input name="cpassword" class="form-control" type="password" placeholder="**********" />
    </div>
    <div class="form-group">
        <input class="form-control" type="submit" value="Cambiar Contraseña" />
        <p class="text-danger">@ViewData["error"]</p>
    </div>
</form>







@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}