@page "/"

<div class="text-center">
    <h1> Sistema de Control Interno - Dispositivos RAYOS-NO</h1>
    <br/>
    <p>
        Sistema de control interno propiedad de Grupo Mecsa para la gestión interna de los
        dispositivos RAYOS-NO.
    </p>
    <p>
        Este sistema plantea el registro y control de los dispositivos instalados, así como 
        el mantenimiento, garantias y vendedores asignados para un mejor control de los equipos.
    </p>
    <p>
        Si presenta algún error, o duda favor comunicarse a ...
    </p>
</div>


