@page "/"



<div class="row">
    <div class="col">
        <h2>Sistema Interno - Dispositivos Rayos NO</h2>
        <p>
            Sistema de control interno propiedad de Grupo Mecsa para la gestión interna de los
            dispositivos RAYOS-NO.
        </p>
        <p>
            Este sistema plantea el registro y control de los dispositivos instalados, así como
            el mantenimiento, garantias y vendedores asignados para un mejor control de los equipos.
        </p>
    </div>
    <div class="col">
        <h2>Sitio en Construccion</h2>
        <p>Sitio web en construccion. Esta version es de demo, para pruebas. Si presenta alguna sugerencia, favor comunicarse con el encargado de la realizacion.
        </p>
    </div>
</div>

<MainComponent></MainComponent>
