@page "/Technician/Delete/{TechnicianId}"



<AuthorizeView Roles="Administrador,Editor">
    <Authorized>    <Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <h2>Eliminación de Usuario</h2>
        <DeleteTechnicianComponent tmpid="@TechnicianId" />
    </Animate></Authorized>
    <NotAuthorized>
        <NotAvariableComponent/>
    </NotAuthorized>
</AuthorizeView>



@code{
    [Parameter]
    public string TechnicianId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        TechnicianId = TechnicianId;
    }
}

