@page "/Technician/Index"






    <AuthorizeView Roles="Administrador,Editor,Lector">
        <Authorized>
            <div>
                <div>
                    <h2>Lista de técnicos</h2>
                    <div class="d-flex flex-row justify-content-between">
                        <p>Lista de personas autorizadas para la realización de mantenimientos</p>           
                        <a href="Technician/Create" class="btn btn-sm btn-success">Agregar nuevo técnico</a>
                    </div>
                </div>
                <div>
                    <ListOfTechniciansComponent />
                </div>
            </div>
        </Authorized>
        <NotAuthorized>

        </NotAuthorized>
    </AuthorizeView>


