@page "/saleman/list"




<AuthorizeView Roles="Administrador,Editor,Lector">
    <Authorized>
        <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
            <div class="text-center">
                <h2>Lista de Vendedores</h2>
                <a href="saleman/create" class="btn btn-sm btn-outline-success"> Agregar nuevo vendedor</a>
                <hr />
                <SaleManSearchComponent />
            </div>
        </Animate>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent></NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>
