@page "/saleman/create"




<div>
    <h2 class=" text-center"> Registro de Vendedores</h2>
    <hr />
    <a href="saleman/list"> Regresar a la Lista de Vendedores</a>
    <hr />
    <SaleManCreateComponent></SaleManCreateComponent>
</div> 