@page "/saleman/view/{SaleManId}"




<AuthorizeView Roles="Administrador,Editor,Lector">
    <Authorized>
        <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
            <div>
                <h2 class="text-center">Información del Vendedor</h2>
                <hr />
                <div class="d-flex flex-row justify-content-between">
                    <p>
                        Información general del vendedor.
                    </p>
                    <a href="saleman/list" class="btn btn-sm btn-info "> Regresar a la lista de vendedores</a>
                </div>

                <hr />
                <SalemanViewComponent id="@SaleManId.ToString()" />
            </div>
            <div>
                <h3 class="text-center"> Lista de dispositivos Pertenecientes al vendedor</h3>
                <p class="text-center">
                    A continuación se muestra la lista de dispositivos pertenecientes al
                    vendedor:
                </p>
                <ListDevicesComponent SaleMandId="@SaleManId.ToString()" />
            </div>

        </Animate>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent></NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter]
    public string SaleManId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        SaleManId = SaleManId;
    }
}
