@page "/saleman/create"




<div>
    <h2 class=" text-center"> Registro de Vendedores</h2>
    <hr />
    <div class="d-flex flex-row justify-content-between">
           <p>
               Registre los datos que le solicitan
           </p>
               <a href="saleman/list" class="btn btn-info"> Regresar a la Lista de Vendedores</a>
    </div>

    <hr />
    <SaleManCreateComponent></SaleManCreateComponent>
</div> 