@page "/saleman/list"




<div class="text-center">
    <h2>Lista de Vendedores</h2>
    <a href="saleman/create" class="btn btn-sm btn-outline-success"> Agregar nuevo vendedor</a>   
    <hr/>
    <SaleManSearchComponent/>
</div>