@page "/Country/Index"





<AuthorizeView Roles="Administrador,Editor">
    <Authorized>    <Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div>
            <h2>Lista de Paises Registrados</h2>
            <div class="d-flex flex-row justify-content-start align-content-center">

<a href="Country/Create" class="m-2 btn btn-sm btn-success">Añadir pais</a>
            </div>
            
            <ListOfCountriesComponent/>

        </div>
    </Animate></Authorized>
    <NotAuthorized>
        <NotAvariableComponent/>
    </NotAuthorized>
</AuthorizeView>