@page "/Country/Delete/{CountryId}"




<AuthorizeView Roles="Administrador,Editor">
    <Authorized>    <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div>
            <h2>Eliminación de País</h2>
            <DeleteCountryComponent id="@CountryId.ToString()" />
        </div>
    </Animate></Authorized>
    <NotAuthorized>
        <NotAvariableComponent/>
    </NotAuthorized>
</AuthorizeView>






@code {
    [Parameter]
    public string CountryId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        CountryId = CountryId;
    }
} 