@page "/Country/Index"





<AuthorizeView Roles="Administrador,Editor">
    <Authorized>
        <div>
            <h2>Lista de Paises Registrados</h2>
            <div class="d-flex flex-row justify-content-start align-content-center">

<a href="Country/Create" class="m-2 btn btn-sm btn-success">Añadir pais</a>
            </div>
            
            <ListOfCountriesComponent/>

        </div>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent/>
    </NotAuthorized>
</AuthorizeView>