@using Entities;
@using Business;


<table class="table table-hover table-striped table-responsive-sm ">
    <tbody>
        <tr>
            <th>Id de Referencia</th>
            <th>@oClient.Id</th>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>@oClient.Name</td>
        </tr>
    </tbody>    
</table>


<p>@Error</p>


@code{
    [Parameter]
    public string ClientId { get; set; }

    ClientEntity oClient = new ClientEntity();
    string Error = "";
    protected override async Task OnInitializedAsync()
    {
        try
        {
            oClient = B_Client.ClientById(ClientId);
            Error = "";
        }catch(Exception s)
        {
            Error = $"Error: {s.Message}. Intentelo de nuevo o contacte al administrador";
        }

    }
}