@using System.IO;
@using System.Globalization;
@using Entities;
@using Business;
@using CsvHelper;
@using CsvHelper.Configuration;

@inject IJSRuntime Js;
@inject NavigationManager Nav;

<table class="table table-hover table-striped table-responsive-sm ">
    <tbody>
        <tr>
            <th>Id de Referencia</th>
            <th>@oClient.Id</th>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>@oClient.Name</td>
        </tr>
    </tbody>    
</table>


<AuthorizeView Roles="Administrador,Editor">
    <Authorized >
        <Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div class="d-sm-flex">
            <input class="btn-outline-dark form-control" type="button" value="Exportar Equipos" @onclick="Download" />
        </div>
    </Animate></Authorized>
</AuthorizeView>



<p>@Error</p>


@code{
    [Parameter]
    public string ClientId { get; set; }

    ClientEntity oClient = new ClientEntity();
    string Error = "";
    protected override async Task OnInitializedAsync()
    {
        try
        {
            oClient = B_Client.ClientById(ClientId);
            Error = "";
        }catch(Exception s)
        {
            Error = $"Error: {s.Message}. Intentelo de nuevo o contacte al administrador";
        }

    }


    private void Download()
    {
        using( var memoryStream= new MemoryStream())
        {
            List<DeviceEntity> Devices = new List<DeviceEntity>();
            Devices = B_Device.GetDevicesByClient(ClientId);

            using( var writter = new StreamWriter(memoryStream))
            {
                var config = new CsvConfiguration(CultureInfo.InvariantCulture)
                {
                    NewLine = Environment.NewLine,
                };

                using(var csv = new CsvWriter(writter,config))
                {
                    var arr1 = Devices.ToArray();
                    csv.WriteRecords(arr1);
                }
                var arr = memoryStream.ToArray();
                Js.SaveAs($"Devices of {oClient.Name}.csv", arr);
            }
        }
    }
}