@using Entities;
@using Business;
@inject NavigationManager Nav;

<div>
    <input type="text" value="Buscar cliente" @onchange="SearchCliente" class="form-group form-control" /> 
</div>

<table class="table table-responsive-sm table-bordered table-hover table-light" >
    <thead>
        <tr>
            <td> Referencia</td>
            <td> Nombre</td>
            <td> </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Clients)
        {
            <tr>
                <td> @obj.Id </td>
                <td> @obj.Name </td>
                <td><a href="client/view/@obj.Id">Ver</a></td>
                <td> <a href="client/update/@obj.Id"> Modificar</a></td>
                <td> <a style="color:red" href="/client/delete/@obj.Id"> Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>



@code{
    List<ClientEntity> Clients = new List<ClientEntity>();

    List<ClientEntity> tmpClients = new List<ClientEntity>();

    protected override async Task OnInitializedAsync()
    {
        Clients = B_Client.ListOfClients();
    }

    private void SearchCliente (ChangeEventArgs e)
    {
        tmpClients = B_Client.SearchClientsByName(e.Value.ToString());
        if (tmpClients.Count != 0)
        {
            Clients = tmpClients;
        }
    }
}




