@using Entities;
@using Business;
@inject NavigationManager Nav;

<EditForm Model="@oClient">
    <div class="form-group">
        <label>Nombre del cliente</label>
        <InputText @bind-Value="oClient.Name" class="form-control"></InputText>
    </div>
    <input type="button" value="Registar Cliente" @onclick="SaveClient" />
</EditForm>
<p class="text-danger">@Error</p>

@code{
    ClientEntity oClient = new ClientEntity();
    string Error = "";

    private void SaveClient()
    {
        try
        {
            oClient.Id = Guid.NewGuid().ToString();
            B_Client.CreateClient(oClient);
            Error = "";
            Nav.NavigateTo("client/list");        
        }catch (Exception f)
        {
            Error = $" Error: {f.Message}. Intentelo nuevamente.";
        } 

    }
}