@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://stevengazo.github.io/RNControl-WebApp/" target="_blank">Acerca de</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>    
</div>
