<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Control</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


<div class="@NavMenuCssClass " @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link"  @onclick="()=>expandSubDevice=!expandSample"  >
                <span class="oi oi-list" aria-hidden="true"></span> Equipos
            </NavLink>
            @if (expandSubDevice)
            {                
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="expand-menu" style="text-align:center" href="device/list"  @onclick="setFalse" >
                            Buscar Dispositivo
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="expand-menu" style="text-align:center" href="device/create"  @onclick="setFalse" >
                            Agregar Dispositivo
                        </NavLink>          
                    </li>
                </ul>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="maintenance/list">
                <span class="oi oi-check" aria-hidden="true"></span> Mantenimientos
            </NavLink>
        </li>
        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="warranty/list">
                <span class="oi oi-document" aria-hidden="true"></span> Garantias
            </NavLink>
        </li>        

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="client/list">
                <span class="oi oi-people" aria-hidden="true"></span> Clientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link"  @onclick="()=> expandSubSaleInstal=!expandSubSaleInstal" >
                <span class="oi oi-person" aria-hidden="true"></span> Ventas
            </NavLink>
            @if (expandSubSaleInstal)
            {                
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="expand-menu" style="text-align:center" href="saleman/list"  @onclick="setFalse" >
                            Buscar Vendedor
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="expand-menu" style="text-align:center" href="saleman/create"  @onclick="setFalse" >
                            Agregar Vendedor
                        </NavLink>          
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="expand-menu" style="text-align:center" href="installer/list"  @onclick="setFalse" >
                            Buscar Instalador
                        </NavLink>          
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="expand-menu" style="text-align:center" href="device/create"  @onclick="setFalse" >
                            Agregar Instalador
                        </NavLink>          
                    </li>
                </ul>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="replacement/list">
                <span class="oi oi-delete" aria-hidden="true"></span> Reemplazos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="incident/list">
                <span class="oi oi-warning" aria-hidden="true"></span> Incidentes
            </NavLink>
        </li>

        <AuthorizeView Roles="Editor">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="stadistics/index">
                        <span class="oi oi-graph" aria-hidden="true"></span> Estadisticas
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView Roles="Administrador">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="manage/Index">
                        <span class="oi oi-box" aria-hidden="true"></span> Administración
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>



@code {
    private bool collapseNavMenu = true;
    private bool expandSample;
    private bool expandSubDevice = false;
    private bool expandSubSaleInstal = false;


    private void setFalse()
    {
        expandSample = false;
        expandSubDevice = false;
        expandSubSaleInstal = false;


    }

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void setfalse(){
        expandSubDevice = !expandSubDevice;
    }
    
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
   
}
