@page
@model LoginModel
<style>
    #Container-general {
        width: 100%;
        height: 300px;
        content: box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
    }

    #card {
        display: flex;
        justify-content: center;
        align-content: center;
        //border: 1px solid black;
        border-radius: 12px;
        padding: 10px;
    }

    #account h4 {
        text-align: center;
    }

    #account div {
        justify-content: center;
    }

    hr {
        color: black;
    }
</style>

@{
    ViewData["Title"] = "Ingreso";

}




<div class="container">
    <div id="card">
        <section>
            <form id="account" method="post">
                <h1>@ViewData["Title"]</h1>
                <h4>Use una cuena local para Iniciar sesión.</h4>

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" placeholder="sample@grupomecsa.net" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" placeholder="***********" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
