@page
@model RegisterModel


@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> Rolemanager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers





@if (SignInManager.IsSignedIn(User))
{
    var isValid = User.IsInRole("Administrador");
    if (isValid)
    {
        <div class="container justify-content-between ">
            <div>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4>Create a new account.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>

    }
    else
    {
        <div class="text-center">
            <h1 class="text-danger">Advertencia</h1>
            <p>No posees autorización para agregar nuevos usuarios</p>
        </div>
    }
}
else
{
    <div class="text-center">
        <h1 class="text-danger">Advertencia</h1>
        <p>Debes iniciar sesión como administrador para agregar nuevos usuarios</p>
    </div>
}

@{

    var sample = ViewData["FlagDB"];
    var saplme1 = sample;
}


@if (ViewData["FistUse"].ToString().Equals("2")  )
{ 
    <div class="container justify-content-between ">
        <div>
            <div>
                <h1>Primer Inicio de Sesión</h1>
                <p>No se detectan usuarios  previamente registrados, por favor ingrese el usuario. Esta ventana solo se encuentra disponible para el primer ingreso en la aplicación</p>
            </div>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>


}

@if ( sample.ToString() == "1" )
{ 
    <div class="container justify-content-between ">
        <div>
            <div>
                <h1>Primer Inicio de Sesión</h1>
                <p>No se detectan usuarios  previamente registrados, por favor ingrese el usuario. Esta ventana solo se encuentra disponible para el primer ingreso en la aplicación</p>
            </div>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>


}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
