@page  "/incident/update/{IncidentId}"





<AuthorizeView Roles="Adminitrador,Editor">
    <Authorized>    <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div>
            <h2 class="text-center">Actualizar Incidente</h2>
            <hr />
            <a href="incident/list"> Regresar a la lista de incidentes</a>
            <hr />
            <IncidentUpdateComponent IncidentId="@IncidentId" />
        </div>
    </Animate></Authorized>
    <NotAuthorized>
        <NotAvariableComponent/>
    </NotAuthorized>
</AuthorizeView>


@code{
    [Parameter]
    public string IncidentId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IncidentId = IncidentId;
    }
}
