@page "/incident/create" 





<AuthorizeView Roles="Administrador,Editor">
    <Authorized>    <Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div>
            <h2>Creación de Incidentes</h2>
            
            <div class="d-flex justify-content-between flex-row">
            <p> Registro de incidentes de dispositivos RAYOS-NO. Detalle la información reelavante para el funcionamiento y motivos de funcionamiento.</p>
                <a href="incident/list" class="btn btn-info"> Lista de incidentes</a>
            </div>
            <hr />
            <IncidentCreateComponent />
        </div>
    </Animate></Authorized>
    <NotAuthorized>
        <NotAvariableComponent></NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>

