@page  "/incident/view/{IncidentId}"






<AuthorizeView Roles="Administrador,Editor,Lector">
    <Authorized>
        <div>
            <h2 class="text-center">Información del Incidente</h2>
            <div class="d-flex flex-row justify-content-between">
                <p>A continuación se muestra la información reelevante con respecto al incidente </p>
                <a href="incident/list" class="btn btn-info">Lista de incidentes</a>
            </div>
            <hr />
            <IncidentViewComponent IncidentId="@IncidentId.ToString()" />
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent/>
    </NotAuthorized>
</AuthorizeView>




@code{
    [Parameter]
    public string IncidentId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IncidentId = IncidentId;
    }
}
