@page "/incident/list"


<div class="text-center">
    <h2>Lista de incidentes registrados</h2>
    <p>A continuación se presenta la información respectiva a los incidentes con los dispositivos registrados en la base de datos. Esto se realiza con el fin de determinar las recomendaciones necesarias a cada dispositivo.</p>
    <a href="incident/create"> Registro de nuevo incidente</a>
    <hr/>
    <IncidentListComponent/>
</div>