@page "/device/create"


<AuthorizeView Roles="Administrador,Editor">
    <Authorized>    <Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div>
            <h2 class="text-center">Registro de Nuevo dispositivo</h2>
            <hr />
            <div class="d-flex justify-content-between flex-row">
                <p>
                    Agregue la información correspondiente al nuevo dispositivo.
                </p>
                <a class="text-center btn  btn-info" href="device/list">Lista de dispositivos</a>
            </div>
            
            <hr />
            <CreateDeviceComponent />
        </div>
        </Animate>
    </Animate></Authorized>
    <NotAuthorized>
        <NotAvariableComponent></NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>



@code {

}
