@page "/device/delete/{DeviceId}"



<h1>
    En construccion...

    <DeleteDeviceComponet DeviceId="@DeviceId"/>
</h1>


@code{
    [Parameter]
    public string DeviceId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        DeviceId = DeviceId;
    }
}