@page "/device/list"

<div class="text-center">
    <h2>Lista de Equipos RAYOS-NO</h2>
    <a href="device/create"> Agregar nuevo dispositivo</a>
    <hr/>
    <SearchDeviceComponent></SearchDeviceComponent>
</div>


@code {

}
