@page "/device/list"
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@using Microsoft.AspNetCore.Identity;



<AuthorizeView Roles="Administrador,Lector">
    <Authorized>
        <div class="text-center">
            <h2>Lista de Equipos RAYOS-NO</h2>
            <a href="device/create"> Agregar nuevo dispositivo</a>
            <hr />
            <SearchDeviceComponent></SearchDeviceComponent>
        </div>
    </Authorized>
    <NotAuthorized>        
        <h1 class="text-danger h1">
            Contenido no disponible
        </h1>
        <p>
            No posee las credenciales necesarias o no ha iniciado sesión. Por favor compruebe que haya iniciado sesión.
        </p>
        <p><a href="Identity/Account/Login">Inicie sesión para validar su información</a></p>
        <p>
            Si el problema persiste contacte al encargado.
        </p>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="Administrador,Lector">
    <Authorized>

    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>



        @code {

        }
