@page "/device/list"
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@using Microsoft.AspNetCore.Identity;



<AuthorizeView Roles="Administrador,Lector,Editor">
    <Authorized>
        <div class="text-center">
            <h2>Lista de Equipos RAYOS-NO</h2>
            <a href="device/create"> Agregar nuevo dispositivo</a> | <a href="Country/Index"> Ver paises registrados</a>
            <hr />
            <SearchDeviceComponent></SearchDeviceComponent>
        </div>
    </Authorized>
    <NotAuthorized>        
        <NotAvariableComponent> </NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>



        @code {

        }
