@page "/device/list"
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@using Microsoft.AspNetCore.Identity;



<AuthorizeView Roles="Administrador,Lector,Editor">
    <Authorized>    <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
         <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div class="text-center">
            <h2>Lista de Equipos RAYOS-NO</h2>
            <a href="device/create" class="btn btn-sm btn-outline-success"> Agregar nuevo dispositivo</a> | <a href="Country/Index" class="btn btn-sm btn-outline-info" > Ver paises registrados</a> | <a href="Models/Index" class="btn btn-sm btn-outline-info"> Modelos de equipos</a>
            <hr />
            <SearchDeviceComponent></SearchDeviceComponent>
        </div>
        </Animate>
    </Animate></Authorized>
    <NotAuthorized>        
        <NotAvariableComponent> </NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>



        @code {

        }
