@page "/device/update/{DeviceId}"




<AuthorizeView Roles="Administrador,Editor">
    <Authorized>    <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div>
            <h2 class="text-center">Actualizar dispositivo</h2>
            <hr />
            <a href="device/list"> Regresar a la lista de dispositivos</a>
            <hr />
            <UpdateDeviceComponent Id="@DeviceId.ToString()" />
        </div>
        </Animate>
    </Animate></Authorized>
    <NotAuthorized>
`       <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <NotAvariableComponent></NotAvariableComponent>
        </Animate>
    </NotAuthorized>
</AuthorizeView>






@code{
    [Parameter]
    public string DeviceId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        DeviceId = DeviceId;
    }
}


