@page "/device/view/{DeviceId}"

<div>
    <h2 class="text-center">Información del Dispositivo</h2>
    <hr />
    <a href="device/list"> Regresar a la lista de dispositivos</a>
    <hr />
    <ViewDeviceComponent id="@DeviceId.ToString()"/>
</div>
<div>
    <h3 class="text-center">Historia de Mantenimientos Registrados</h3>
    <MaintenanceListByIdComponent id="@DeviceId.ToString()"/>
</div>
<div>
    <h3 class="text-center">Historial de Garantias Registradas</h3>
    <WarrantyListByIdComponent id="@DeviceId.ToString()"/>
</div>


@code{
    [Parameter]
    public string DeviceId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        DeviceId = DeviceId;
    }
}