@using Entities;
@using Business;


@inject NavigationManager Nav;

<div>>
    <div>
        <h3>Actualizar nombre de modelo existente</h3>
        <EditForm Model="oModelDevice" class="form-inline row ">
            <div class="col">
                <label>Id</label>
                <InputText @bind-Value="oModelDevice.ModelDeviceName" class="form-control"> </InputText>
            </div>
            <div class="col">
                <label>Acciones</label>
                <input type="button" value="Update" class="btn btn-success" @onclick="UpdateModel"/>
            </div>
        </EditForm>
        <p>@Message</p>
    </div>

</div>





@code{
    [Parameter]
    public string Id { get; set; }

    ModelDeviceEntity oModelDevice = new ModelDeviceEntity();
    private string Message = "";


    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();

        int.TryParse(Id, out int ModelId);

        oModelDevice = B_ModelDevice.GetModelById(ModelId);

    }


    private void UpdateModel()
    {
        try
        {
            B_ModelDevice.UpdateModel(oModelDevice);
            Message = "Modelo Actualizado";

        }catch(Exception f)
        {
            Message = $"Error: {f.Message}";
        }
    }
}