@page "/replacement/list"


<div>
    <h2>
        Lista de Reemplazos de Dispositivos
    </h2>
    <p>A continuación se muestra la lista de dispositivos reemplazados por motivos de garantia, debido a daños.</p>
    <br />       
    <ReplacementListComponent/>
</div>



 