@page "/replacement/list"





<AuthorizeView Roles="Administrador,Lector,Editor">
    <Authorized>
        <div class=" align-content-center   text-center">
            <h2>
                Lista de Reemplazos de Dispositivos
            </h2>
            <p>A continuación se muestra la lista de dispositivos reemplazados por motivos de garantia, debido a daños.</p>
                <a href="replacement/create"   class="btn btn-sm btn-outline-success" > Registrar nuevo reemplazo</a>
            
            <hr />
            <ReplacementSearchComponent></ReplacementSearchComponent>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent />
    </NotAuthorized>
</AuthorizeView>