@page "/replacement/update/{Replacementid}"



<AuthorizeView Roles="Administrador,Editor">
    <Authorized>    <Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div>
            <h1> Actualización del Reemplazo</h1>
            <p>A continuación se detalla la información respectiva del reemplazo realizado</p>
            <hr />
            <ReplacementUpdateComponent Id="@ReplacementId.ToString()" />
        </div>
    </Animate></Authorized>
    <NotAuthorized>
        <NotAvariableComponent />
    </NotAuthorized>
</AuthorizeView>



@code{
    [Parameter]
    public string ReplacementId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        ReplacementId = ReplacementId;
    }
}
