@page "/replacement/list"


<div class=" align-content-center   text-center">
    <h2>
        Lista de Reemplazos de Dispositivos
    </h2>
    <p>A continuación se muestra la lista de dispositivos reemplazados por motivos de garantia, debido a daños.</p>
    <a href="replacement/create"> Registrar nuevo reemplazo</a>
    <br />       
    <ReplacementListComponent/>
</div>



 