@page "/maintenance/Create" 


<div class="text-center">
    <h2> Registro de Mantenimientos</h2>
    <hr />
    <a href="maintenance/list">Regresar a la lista de Mantenimientos</a>
    <hr />
    <MaintenanceCreateComponent/>
</div>