@page  "/maintenance/update/{MaintenanceId}"




<AuthorizeView Roles="Administrador,Editor">
    <Authorized>
        <div>
            <h2 class="text-center">Actualizar Vendedor</h2>
            <hr />
            <a href="maintenance/list"> Regresar a la lista de Mantenimientos</a>
            <hr />
            <MaintenanceUpdateComponent id="@MaintenanceId.ToString()" />
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent />
    </NotAuthorized>
</AuthorizeView>



@code{
    [Parameter]
    public string MaintenanceId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        MaintenanceId = MaintenanceId;
    }
}
