@page "/maintenance/list/realized/"



<div class="text-center">
    <h1> Lista de Mantenimiento</h1>
    <p >
        A continuación se presenta los mantenimientos realizados
        realizados en el período seleccionado.
    </p>
    <MaintenanceConsultComponent></MaintenanceConsultComponent>
</div>



@code {




}
