@page "/maintenance/Create" 


<AuthorizeView Roles="Administrador,Editor">
    <Authorized>
        <div >
            <div class="text-center">
                <h2> Registro de Mantenimientos</h2>
            <hr />
            <a href="maintenance/list">Regresar a la lista de Mantenimientos</a>          
            </div>
            <hr />    
            <MaintenanceCreateComponent></MaintenanceCreateComponent>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent></NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>