@page "/maintenance/list/realized/"




<AuthorizeView Roles="Administrador,Lector,Editor">
    <Authorized>    <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div class="text-center">
            <h1> Lista de Mantenimiento</h1>
            <p>
                A continuación se presenta los mantenimientos realizados
                realizados en el período seleccionado.
            </p>
            <MaintenanceConsultComponent></MaintenanceConsultComponent>
        </div>
    </Animate></Authorized>
    <NotAuthorized>
        <NotAvariableComponent />
    </NotAuthorized>
</AuthorizeView>


@code {




}
