@page "/maintenance/list"


<div class="text-center">
    <h2>Lista de Mantenimientos</h2>
    <hr />
    <a href="maintenance/create"> Registrar Nuevo Mantenimiento</a> | <a href="maintenance/list/realized/"> Mantenimientos Realizados</a> | <a href="maintenance/list/unrealizedByear/">Pendientes por año</a>
    <MaintenanceListComponent></MaintenanceListComponent>
</div>
<hr/>