@page "/maintenance/list"




<AuthorizeView Roles="Administrador,Lector,Editor">
    <Authorized>    <Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div class="text-center">
            <div>
                <h2>Lista de Mantenimientos</h2>
                <hr />
                <a href="maintenance/create" class="btn btn-sm btn-outline-success"> Registrar Nuevo Mantenimiento</a> | <a href="maintenance/list/unrealizedByear/" class="btn btn-sm btn-outline-warning">Pendientes por año</a>| <a href="Technician/Index" class="btn btn-sm btn-outline-success">Agregar técnico</a>
            </div>
            <div>
                <MaintenanceSearchListComponent></MaintenanceSearchListComponent>
            </div>
            
        </div>
        <hr />
    </Animate></Authorized>
    <NotAuthorized>
        <NotAvariableComponent></NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>




