@page "/maintenance/view/{MaintenanceId}"
@inject IToastService toastService



<AuthorizeView Roles="Administrador,Editor,Lector">
    <Authorized>
        <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.2)" Delay="TimeSpan.FromSeconds(0)">
            <div class="border rounded p-2 mb-2" style="border: 1px solid gray">
                <h2 class="text-center">Información del Mantenimiento</h2>
                <div class="d-flex justify-content-between flex-row">
                    <p>
                        Información del mantenimiento realizado en el sitio.
                    </p>
                    <a class="btn btn-info" href="maintenance/list">Lista de Mantenimientos</a>
                </div>
                <hr />
                <MaintenanceViewComponent id="@MaintenanceId.ToString()" />
            </div>
        </Animate>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent />
    </NotAuthorized>
</AuthorizeView>


<AuthorizeView Roles="Administrador,Editor">
    <Authorized>
        <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
            <div>
                <hr />
                <h2>
                    Archivos Anexos
                </h2>
                <ManageFilesComponent idObject="@MaintenanceId.ToString()" Type="Maintenance" />
            </div>
        </Animate>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>








@code {
    [Parameter]
    public string MaintenanceId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        MaintenanceId = MaintenanceId;

    }
}
