@page "/maintenance/Create/{DeviceId?}" 


<AuthorizeView Roles="Administrador,Editor">
    <Authorized>    <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div >
            <div class="text-center">
                <h2> Registro de Mantenimientos</h2>
            <hr />
            <div class="d-flex flex-row justify-content-between">
                <p>
                    Ingrese la información necesaria para el registro del mantenimiento.
                </p>
                <a href="maintenance/list" class="btn btn-sm btn-info">Lista de Mantenimientos</a>         
            </div>
  
            </div>
            <hr />    
                @if (string.IsNullOrEmpty(DeviceId))
                {
                    <MaintenanceCreateComponent ></MaintenanceCreateComponent>
                }
                else
                {
                    <MaintenanceCreateComponent DeviceID="@DeviceId"></MaintenanceCreateComponent>
                }

        </div>
    </Animate></Authorized>
    <NotAuthorized>
        <NotAvariableComponent></NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>



@code {
    [Parameter]
    public string DeviceId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        

    }
}
