@page "/maintenance/list"




<AuthorizeView Roles="Administrador,Lector,Editor">
    <Authorized>
        <div class="text-center">
            <div>
                <h2>Lista de Mantenimientos</h2>
                <hr />
                <a href="maintenance/create"> Registrar Nuevo Mantenimiento</a> | <a href="maintenance/list/unrealizedByear/">Pendientes por año</a>| <a href="Technician/Index">Agregar técnico</a>
            </div>
            <div>
                <MaintenanceSearchListComponent></MaintenanceSearchListComponent>
            </div>
            
        </div>
        <hr />
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent></NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>




