@page "/maintenance/delete/{MaintenanceId}"



<AuthorizeView Roles="Administrador,Editor">
    <Authorized>    <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div>
            <h2 class="text-center">Eliminar Mantenimiento</h2>
            <hr />
            <MaintenanceDeleteComponent id="@MaintenanceId.ToString()" />
        </div>

    </Animate></Authorized>
    <NotAuthorized>
        <NotAvariableComponent />
    </NotAuthorized>
</AuthorizeView>





@code{
    [Parameter]
    public string MaintenanceId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        MaintenanceId = MaintenanceId;
    }
}

