@page  "/maintenance/view/{MaintenanceId}"




<AuthorizeView Roles="Administrador,Editor">
    <Authorized>
        <div>
            <h2 class="text-center">Información del Mantenimiento</h2>
            <div class="d-flex justify-content-between flex-row">
                <p>
                    Información del mantenimiento realizado en el sitio.
                </p>
                <a class="btn btn-info" href="maintenance/list">Lista de Mantenimientos</a>
            </div>
            <hr />
            
            <hr />
            <MaintenanceViewComponent id="@MaintenanceId.ToString()" />
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent />
    </NotAuthorized>
</AuthorizeView>





@code{
    [Parameter]
    public string MaintenanceId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        MaintenanceId = MaintenanceId;
    }
}
