@page "/maintenance/list/unrealizedByear/"






<AuthorizeView Roles="Administrador,Editor,Lector">
    <Authorized>
        <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
            <div class="text-center">
                <h1> Lista de Dispositivos sin mantenimiento</h1>
                <p>
                    A continuación se presenta los equipos que no presentan
                    mantenimientos en los plazos en los plazos seleccionados.
                </p>
            </div>
            <MaintenanceUnrealizedComponent />
        </Animate>
    </Authorized>
    <NotAuthorized>
        <NotAvariableComponent></NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>



@code {

}
