@page "/Models/Index"






<AuthorizeView Roles="Administrador,Editor">
    <Authorized>    <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div class="text-center">
            <h2>Lista de Modelos registrados</h2>  
            <hr />
            <ListOfModelsDeviceComponent/>
        </div>
    </Animate></Authorized>
    <NotAuthorized>        
        <NotAvariableComponent> </NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>







