@page "/Models/Update/{id}"




<AuthorizeView Roles="Administrador,Lector,Editor">
    <Authorized>    <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.1)" Delay="TimeSpan.FromSeconds(0)">
        <div class="text-center">
            <h2>Actualización de Modelo</h2>  
            <hr />
            <UpdateModelDeviceComponent Id="@id"/>
        </div>
    </Animate></Authorized>
    <NotAuthorized>        
        <NotAvariableComponent> </NotAvariableComponent>
    </NotAuthorized>
</AuthorizeView>



@code{
    [Parameter]
    public string id  { get; set; }

    protected override async Task OnInitializedAsync()
    {
    id = id;
    } 
}