@using Entities;
@using Business;



<table class="table table-striped">
    <thead class="">
        <tr>
            <th>
                N° Serie
            </th>
            <td>
                Cliente
            </td>
            <th>
                Fecha Instalación
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in devices)
       {
           <tr>
                <td>
                    @item.DeviceId
                </td>
                <td>
                    @item.Client.Name
                </td>
                <td>
                    @item.InstallationDate.ToLongDateString()
                </td>
                <td> <a class="btn btn-primary" href="device/view/@item.DeviceId"> Ver </a></td>
                <td> <a class="btn btn-secondary" href="device/update/@item.DeviceId"> Modificar</a></td>
            </tr>
       }
    </tbody>
</table>



@code{
    [Parameter]
    public string id { get; set; }
    private List<DeviceEntity> devices = new List<DeviceEntity>();


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if(id!= null)
        {
            devices = B_Device.GetDevicesByInstaller(id);
        }
    }
}