@using Entities;
@using Business;



<div>
    <div>
        <label>
            ID
        </label>                
    </div>
    <div>
        <label>
            Nombre
        </label>                
    </div>    
</div>

